:root {
    --font-family-default: "Helvetica Now Display", sans-serif;
    
    --font-size-plus-10: 9.5vw;
    --font-size-plus-9: 6.875rem;
    --font-size-plus-8: 5.2rem;
    --font-size-plus-7: 4.3rem;
    --font-size-plus-6: 3.2rem;
    --font-size-plus-5: 2.625em;
    --font-size-plus-4: 2.25rem;
    --font-size-plus-3: 1.75rem;
    --font-size-plus-2: 1.5rem;
    --font-size-plus-1: 1.2rem;
    --font-size-baseline: 1rem;
    --font-size-minus-1: 0.875rem;
    --font-size-minus-2: 0.75rem;

    --baseline: 1.5rem;
    --gutter: 24px;
    --max-container-width: 1600px;
    
    --light-grey-1: #f5f5f5;
    --light-grey-2: hsl(0, 0%, 90%);
    --light-grey-3: hsl(0, 0%, 80%);
    --mid-grey-1: hsl(0, 0%, 70%);
    --mid-grey-2: hsl(0, 0%, 60%);
    --mid-grey-3: hsl(0, 0%, 50%);
    --dark-grey-1: hsl(0, 0%, 46%); //lightest AA accessible grey on white
    --dark-grey-2: hsl(0, 0%, 30%);
    --dark-grey-3: hsl(0, 0%, 20%);
    --off-black: hsl(0, 0%, 10%);
    --highlight: hsl(49, 98%, 56%);
    --default-color: hsl(0, 0%, 10%);

    --thin-weight: 200;
    --light-weight: 300;
    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

    --measure: 40em;
    
    --bp-xs: 480px;
    --bp-sm: 768px;
    --bp-md: 1024px;
    --bp-lg: 1200px;

    --v-space:12vw;
}

$columns: 12;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

// conversion table from mq-breakpoints and grid classNames
$grid-names: (
    xs: default,
    sm: sm,
    md: md,
    lg: lg
);



