@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d94732e9-1ded-43d0-9f93-fea4a0ee8ccc");
    @font-face{
        font-family:"Helvetica Now Display";
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        src:url("/static/fonts/0823bbe6-3830-440b-9d3e-6d548239cf65.woff2") format("woff2"),
        url("/static/fonts/e4ec8fc5-9a4d-422b-a031-740b0e21f14f.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica Now Display";
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        src:url("/static/fonts/284e66f2-886a-4e0f-a801-ff7b25fd52af.woff2") format("woff2"),
        url("/static/fonts/cd6178ba-ad0f-4cd3-8f0c-05b2c51b9bc7.woff") format("woff");
    }
    @font-face{
        font-family:"Helvetica Now Display";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src:url("/static/fonts/72d42bf4-2173-4e9d-b3f5-2e97d45eac01.woff2") format("woff2"),
        url("/static/fonts/784fdfff-9e52-4f65-af2a-c0892907a9d4.woff") format("woff");
    }
